---
import Layout from '../layouts/Layout.astro';
import { config, sampleCodes } from '../config';
import Header from '../components/Header.astro';
import Loader from '../components/Loader.astro';
import NavBar from '../components/NavBar.astro';
import Project from '../components/Project.astro';
---

<Layout
  color={config.color}
  description={config.description}
  image={config.image}
  keywords={config.keywords}
  title={config.title}
  url={config.url}
>
  <main>
    <Loader />
    <Header
      code={{
        content: sampleCodes.text,
        lang: sampleCodes.lang,
      }}
    />

    <NavBar
      buttons={[
        {
          path: '#',
          text: 'Projects',
        },
        {
          path: '/experience',
          text: 'Experience',
        },
        {
          path: '/contact',
          text: 'Contact',
        },
      ]}
    />

    <section class='projects'>
      <Project
        image='minecraftskinchecker.png'
        name='Minecraft-Skin-Checker'
        description='A small Python Script to check if an image is a Minecraft Skin or not (Javascript coming soon)'
        url='https://github.com/IParzivalDev/Minecraft-Skin-Checker'
      />
      <Project
        image='craftingtable.png'
        name='CraftingTable'
        description='Have you ever wanted to use a Minecraft crafting table from the terminal? No? Anyway here it is (Javascript coming soon)'
        url='https://github.com/IParzivalDev/CraftingTable'
      />
      <Project
        image='portfolio.png'
        name='IParzivalDev'
        description="This is the code for quantum computers... Just kidding, it's just my Portfolio made in Astro"
        url='https://github.com/IParzivalDev/IParzivalDev'
      />
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  @media only screen and (max-width: 600px) {
    /* Celular */
    section.projects {
      flex-direction: column;
    }
  }
</style>
