---

interface Props {
	title: string;
  description: string;
  image: string;
  url: string;
  color: string;
  keywords: string;

}
const { title, description, image, url, color, keywords } = Astro.props;

---
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <meta name="theme-color" content={color} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords}/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
    <link rel="icon" href={image} type="image/x-icon" />
  </head>
  <body>
    <slot />
  </body>
  <style>
    :global(*){
      margin: 0 !important;
      padding: 0 !important;
      box-sizing: border-box !important;
      scrollbar-width: none !important;
      scroll-behavior: smooth !important;
      font-family: 'Ubuntu' !important;
      color: white;
      user-select: none;
    }

    body{
      background-color: #090909;
    }

    :global(ul) {
      list-style: none !important;
    }
  </style>
</html>